body {
  background-image: url("./imagesSrc/Background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

h2 {
  text-align: center;
}

.departement {
  color: white;
  text-align: center;
  height: 78vh;
  border-radius: 20px;
}

.departement h3 {
  background-color: black;
  border-radius: 50px;
}

.departementArms {
  background-image: url("./imagesSrc/enteteArms.png");
  background-position: bottom;
}

.departementAsia {
  background-image: url("./imagesSrc/enteteAsian.jpg");
  background-position: bottom left 840px;
}

.departementEuro {
  background-image: url("./imagesSrc/enteteEuropeen.jpg");
  background-position: center;
}
.departementInst {
  background-image: url("./imagesSrc/enteteInstrument.jpg");
  background-position: top;
}

#guideImage {
  width: 22vh;
}

#artDisplayed {
  width: 100%;
  min-width: 280px;
  max-width: 500px;
  border: solid white 3px;
}

#description {
  text-align: center;
}

/*Début bubble Codepen*/
.speech-bubble {
	position: relative;
	background: white;
    border-radius:1em;
    padding-bottom: 10px;
    padding-top: 10px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: white;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

/*Fin bubble Codepen*/


.border-green {
  border-style: solid;
  border-color: green;
}

.border-blue {
  border-style: solid;
  border-color: blue;
}

.border-yellow {
  border-style: solid;
  border-color: yellow;
}

.border-orange {
  border-style: solid;
  border-color: red;
}

@media only screen and (max-width: 400px) {
  #artDisplayed {
    max-width: 280px;
  }

  .logo {
    max-width: 350px;
  }
}
